<!DOCTYPE html>
<html>
<!--start-->

<head>
    <title>YOU DIED LMAW</title>
    <link rel="stylesheet" href="..\..\css\youdied.css" />
</head>

<body>

    <%# <img src="..\..\images\youdied.png"/> %>
    <%= image_tag('youdied.PNG') %>
    <p>
        With your low health and weapon disadvantage against ranged opponents, you were easily killed by enemies.
        <br /> <br />
        TIP: open spaces are bad for sword users due to their limited attack range
    </p>

    <br /> <br /> <br />

    <%# <button onclick="window.location.href = '../index.html';">
        Play Again
    </button> %>
    <%= button_to "Play Again", root_path, :method => "get" %>
</body>

</html> <!--end-->