<!DOCTYPE html>
<html>
<!--start-->

<head>
    <title></title>
    <%# <link rel="stylesheet" href="..\..\css\c2sword.css" /> %>
</head>

<body>
    <p>
        Health:
    </p>
    <table class="hpbar" border="1">
        <tr>
            <td><div id="hp">///////</div></td>
        </tr>
    </table>

    <br />
    <br />

    <p>
        As a sword user and with your previous experience in the sewers, you know your way around and took minimal damage.
        <br />
        At the end of the sewer, there is a manhole leading to the bridge... and your escape.
    </p>

    <br />

    <%# <a href="d1swordwin.html"><img src="..\..\images\blackbridge.png" class="select" /></a> %>
    <%= link_to image_tag('blackbridge.PNG'), sword_d1win_path %>
    <p class="center">Black Bridge: the only way out of prison, guarded by the most experienced warden named Duterte. There is other way out, and you will not come out unscathed from the inevitable fight</p>

</body>

</html> <!--end-->