<!DOCTYPE html>
<html>
<!--start-->

<head>
    <title>Dead CSS</title>
    <link rel="stylesheet" href="..\..\css\c2sword.css" />
</head>

<body>
    <p>
        Health:
    </p>
    <table class="hpbar" border="1">
        <tr>
            <td><div id="hp">///</div></td>
        </tr>
    </table>

    <br />
    <br />

    <p>
        As a sword user, the level of verticality made it hard to reach the ranged enemies. You took massive damage while trying to escape.
        <br />
        At the end of the ramparts, there is another elevator leading to the bridge... and your escape.
    </p>

    <br />

    <%# <a href="d1sworddead.html"><img src="..\..\images\blackbridge.png" class="select" /></a> %>
    <%= link_to image_tag('blackbridge.PNG'), sword_d1dead_path %>
    <p class="center">Black Bridge: the only way out of prison, guarded by the most experienced warden named Duterte. There is other way out, and you will not come out unscathed from the inevitable fight</p>

</body>

</html> <!--end-->